<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/x-icon" th:href="@{/x-admin/images/icon.svg}"/>
    <link rel="shortcut icon" th:href="@{/x-admin/images/bg.png}"/>
    <link rel="shortcut icon" th:href="@{/x-admin/images/aiwrap.png}"/>
    <link rel="stylesheet" th:href="@{/x-admin/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/x-admin/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/x-admin/css/theme2.css}"/>
    <link rel="stylesheet" th:href="@{/x-admin/css/theme3.css}"/>
    <link rel="stylesheet" th:href="@{/x-admin/css/theme4.css}"/>
    <link rel="stylesheet" th:href="@{/x-admin/css/theme5.css}"/>
    <link rel="stylesheet" th:href="@{/x-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/x-admin/css/xadmin.css}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script th:src="@{/x-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/x-admin/js/xadmin.js}"></script>
    <script th:src="@{/x-admin/js/jquery.min.js}" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <button class="layui-btn layui-btn-danger" onclick="replayAll()"><i class="layui-icon"></i>批量恢复</button>
                    </div>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                          <thead>
                            <tr>
                              <th width="10">
                                <input type="checkbox" lay-filter="checkall" name=""  lay-skin="primary">
                              </th>
                              <th width="10">ID</th>
                              <th width="120">分类名</th>
                              <th width="80">LOGO</th>
                              <th width="20">使用量</th>
                              <th width="50">状态</th>
                              <th width="80">操作</th>
                            </tr>
                          </thead>
                          <tbody th:each="category : ${pageInfo.list}">
                            <tr>
                              <td>
                                <input id="id" type="checkbox" name=""  lay-skin="primary" th:value="${category.id}">
                              </td>
                              <td th:text="${category.id}">1</td>
                              <td th:text="${category.name}">1</td>
                              <td ><img th:src="@{${category.picture}}"></td>
                                <td th:text="${category.class_count}">1</td>
                                <td class="td-status">
                                <span class="layui-btn layui-btn-danger layui-btn-mini">已删除</span>
                              <td class="td-manage">
                                <a title="恢复" onclick="replay(this,this.value)" th:value="${category.id}" href="javascript:;">
                                  <i class="layui-icon">&#xe669;</i>
                                </a>
                                <a title="删除" onclick="member_del(this,this.value)"  th:value="${category.id}" href="javascript:;">
                                  <i class="layui-icon">&#xe640;</i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body ">
                        <div class="page">
                            <div>
                                <a class="prev" th:href="@{/members/member_list/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">&lt;&lt;</a>
                                <a class="num" th:href="@{/members/member_list/(pageNum=${pageInfo.pageNum}-1)} "  th:if="${pageInfo.pageNum}>1" th:text="${pageInfo.pageNum}-1">1</a>
                                <span class="current" th:text="${pageInfo.pageNum}"></span>
                                <a class="num" th:href="@{/members/member_list/(pageNum=${pageInfo.pageNum}+1)} " th:if="${pageInfo.pageNum}+1<=${pageInfo.pages}" th:text="${pageInfo.pageNum}+1">1</a>
                                <a class="next" th:href="@{/members/member_list/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">&gt;&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        layui.use(['laydate','form'], function(){
            var laydate = layui.laydate;
            var  form = layui.form;
            // 监听全选
            form.on('checkbox(checkall)', function(data){

                if(data.elem.checked){
                    $('tbody input').prop('checked',true);
                }else{
                    $('tbody input').prop('checked',false);
                }
                form.render('checkbox');
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });


      /*用户-删除*/
      function member_del(obj,id){
          var UserId= $(obj).attr('value');
          layer.confirm('确认要删除吗？',{btn: ['确定', '取消']},function(index){
              $.ajax({
                  type:"POST",
                  url : "/justyou/cate/thoroughlyDeleteClass",
                  contentType: "application/json",
                  data: JSON.stringify(UserId),
                  success(r) {
                      if (r.resultCode == 200) {
                          $(obj).parents("tr").remove();
                          layer.msg(r.message,{icon:1,time:1000})
                      } else {
                          layer.msg(r.message, {
                              icon: "error",
                          });
                      }
                  }
              });
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function replay (obj) {
          var UserId= $(obj).attr('value');
          layer.confirm('确认要恢复吗？'+UserId,
            {btn: ['确定', '取消']},
            function(){
            //捉到所有被选中的，发异步进行删除
                $.ajax({
                    type:"POST",
                    url : "/justyou/cate/restoreClass",
                    contentType: "application/json",
                    data: JSON.stringify(UserId),
                    success(r) {
                        if (r.resultCode == 200) {
                            $(obj).parents("tr").remove();
                            layer.msg(r.message,{icon:1,time:1000})
                        } else {
                            layer.msg(r.message, {
                                icon: "error",
                            });
                        }
                    }
                });
        });
      }

        function replayAll (argument) {
            var ids = [];
            // 获取选中的id
            $('tbody input').each(function(index, el) {
                if($(this).prop('checked')){
                    ids.push($(this).val())
                }
            });
            layer.confirm('确认要删除吗？'+ids,function(index){
                $.ajax({
                    type:"POST",
                    url : "/justyou/cate/restoreDeleteAll",
                    contentType: "application/json",
                    data: JSON.stringify(ids),
                    success(r) {
                        if (r.resultCode == 200) {
                            layer.msg('删除成功', {icon: 1});
                            $(".layui-form-checked").not('.header').parents('tr').remove();
                            location.reload();
                        } else {
                            layer.msg(r.message, {
                                icon: "error",
                            });
                        }
                    }
                });
                //捉到所有被选中的，发异步进行删除
            });
        }


    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>