<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.api.mapper.BlogThehall.BlogThehallMapper">
    <resultMap id="BlogVo" type="com.cloud.api.bean.vo.BlogVo">
        <id column="dynamic_id" property="id"/>
        <result column="dynamic_title" property="dynamicTitle"/>
        <result column="dynamic_content" property="dynamicTitle"/>
        <result column="Abstract" property="abstracts"/>
        <result column="dynamic_views" property="dynamicViews"/>
        <result column="like_count" property="likeCount"/>
        <result column="dynamic_time" property="dynamicTime"/>
        <result column="open_id" property="openId"/>
        <collection property="photo" ofType="com.cloud.api.bean.vo.photoVo">
            <result column="photo_id" property="id"/>
            <result column="photo_url" property="photoUrl"/>
        </collection>
        <collection property="dynamicTags" ofType="com.cloud.api.bean.entity.DynamicTag">
            <result column="dynamic_tag_id" property="dynamicTagId"/>
            <result column="dynamic_tag_name" property="dynamicTagName"/>
        </collection>
    </resultMap>
    <resultMap id="DynamicDetails" type="com.cloud.api.bean.entity.Dynamic">
        <id column="dynamic_id" property="dynamicId"/>
        <result column="dynamic_title" property="dynamicTitle"/>
        <result column="dynamic_content" property="dynamicContent"/>
        <result column="dynamic_status" property="dynamicStatus"/>
        <result column="dynamic_views" property="dynamicViews"/>
        <result column="dynamic_comment" property="dynamicComment"/>
        <result column="dynamic_deleted" property="dynamicDeleted"/>
        <result column="dynamic_time" property="dynamicTime"/>
        <result column="dynamic_update_time" property="dynamicUpdateTime"/>
        <result column="Abstract" property="dAbstract"/>
        <result column="like_count" property="likeCount"/>
        <result column="open_id" property="openId"/>
        <collection property="photo" ofType="com.cloud.api.bean.vo.photoVo">
            <result column="photo_id" property="id"/>
            <result column="photo_url" property="photoUrl"/>
        </collection>
        <collection property="dynamicTags" ofType="com.cloud.api.bean.entity.DynamicTag">
            <result column="dynamic_tag_id" property="dynamicTagId"/>
            <result column="dynamic_tag_name" property="dynamicTagName"/>
        </collection>
    </resultMap>
    <sql id="blog">
        dynamic_id,dynamic_title,Abstract,dynamic_views,open_id,dynamic_time,like_count
    </sql>
    <sql id="DynamicDetails">
        dynamic_id,dynamic_title,dynamic_content,dynamic_status,dynamic_views,dynamic_comment,dynamic_deleted,dynamic_time,dynamic_update_time,Abstract,like_count,photo_url,photo_id
    </sql>

    <select id="selectPushAllBlog" resultMap="BlogVo">
      select
      d.dynamic_id,d.dynamic_title,d.Abstract,d.dynamic_views,d.open_id,d.dynamic_time,d.like_count,p.photo_url,p.photo_id,dt.dynamic_tag_id,dt.dynamic_tag_name
      from  dynamic d,  dynamic_set_photo dsp , photo p, dynamic_tag dt, dynamic_set_tag dst
         where p.photo_id=dsp.photo_id and d.dynamic_id=dsp.dynamic_id and dynamic_deleted=0 and push=1
    </select>
    <select id="selectDynamicDetails" resultMap="DynamicDetails">
                select
               d.dynamic_id,d.dynamic_title,d.dynamic_content,d.dynamic_status,d.dynamic_views,d.dynamic_comment,d.dynamic_deleted,d.dynamic_time,d.dynamic_update_time,d.Abstract,d.like_count,p.photo_url,p.photo_id,
                dt.dynamic_tag_id,dt.dynamic_tag_name,d.open_id
         from dynamic d,  dynamic_set_photo dsp , photo p, dynamic_tag dt, dynamic_set_tag dst
         where p.photo_id=dsp.photo_id and d.dynamic_id=dsp.dynamic_id
         and  dst.dynamic_id=dt.dynamic_tag_id and dst.dynamic_id=d.dynamic_id and d.dynamic_id=#{dynamic_id}
    </select>
</mapper>