<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.api.mapper.BlogThehall.DynamicCommMapper">
    <resultMap id="Comm" type="com.cloud.api.bean.vo.DynamicCommentsVo">
        <id column="comm_id" property="commId"/>
        <result column="comm_content" property="commContent"/>
        <result column="comm_father_id" property="commFatherId"/>
        <result column="comm_time" property="commTime"/>
        <result column="open_id" property="openId"/>
    </resultMap>
    <insert id="insertComments">
        insert into dynamic_comments
        <set>
            <if test="dynamicId!=null">
                dynamic_id=#{dynamicId},
            </if>
            <if test="openId!=null">
                open_id=#{openId},
            </if>
            <if test="dynacommFatherIdmicId!=null">
                comm_father_id=#{dynacommFatherIdmicId},
            </if>
            <if test="content!=null">
                comm_content=#{content}
            </if>
        </set>
    </insert>
    <update id="giveALike">
        update dynamic
        <set>
            <if test="role==0">
                like_count=like_count+1
            </if>
            <if test="role==1">
                like_count=like_count-1
            </if>
        </set>
        where dynamic_id=#{dynamic_id}
    </update>
    <select id="selectSonCount" resultType="java.lang.Integer">
        select count(*) from dynamic_comments where comm_father_id=#{comm_father_id}
    </select>
    <select id="seelectFcomm_id" resultType="java.lang.String">
        select comm_father_id from dynamic_comments where comm_id=#{comm_id}
    </select>
    <select id="selectSonyByFid" resultMap="Comm">
        select  comm_id,open_id,comm_content,comm_father_id,comm_time,dynamic_id,comm_father_id
        from dynamic_comments where comm_father_id=#{comm_father_id} and comm_delete=0
    </select>

    <select id="select1FComm" resultMap="Comm">
         select  comm_id,open_id,comm_content,comm_father_id,comm_time,dynamic_id,comm_father_id
        from dynamic_comments where comm_father_id is null and comm_delete=0 and comm_id=#{comm_id}
    </select>
    <select id="selectAll" resultMap="Comm">
                 select  comm_id,open_id,comm_content,comm_father_id,comm_time,dynamic_id,comm_father_id
        from  dynamic_comments where comm_delete=0  and comm_father_id is not Null and  dynamic_id=#{dynamic_id}
    </select>

</mapper>