<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.api.mapper.OrderMapper">

    <select id="selectTaskData" resultType="com.cloud.api.bean.entity.Task">
        select money,start_time,end_time from task
    </select>
    <select id="selectOrderData" resultType="com.cloud.api.bean.entity.TaskOrder">
        select task_id,order_state,order_time from task_order;
    </select>
    <select id="selectNumberFromTaskId" resultType="java.lang.Integer">
        select count (select * from task_order where task_id = #{id});
    </select>
    <select id="selectOpenIdFromUserId" resultType="java.lang.String">
        select open_id from task_order where order_user_id = #{orderUserId}
    </select>
</mapper>